<section class="about bg-right" style="background-image:url('[[phpthumbof? &input=`media/[[+background-image]]` &options=`&w=100&h=100&zc=1`]]')">
		<div class="container-fluid wrap content">
			<div class="row">
				<div class="col-xs-12 col-sm-7 content-animate">
					[[+headline:notempty=`<div class="row">
						<div class="col-xs-12">
							[[+headline]]
						</div>
					</div>`]]
					<div class="row">
						<div class="col-xs-12 [[+headline:notempty=`col-sm-11 col-sm-offset-1`]]">
							[[+content]]
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>