<section class="staff">
	<div class="container-fluid wrap">
		<div class="row staff-list">
			<ul id="og-grid" class="og-grid">
			[[!getImageList?
				  &tvname=`page-builder`
				  &tpl=`staff-placeholder`
				  &value=`[[!+staff]]`
				]]
			</ul>
		</div>
	</div>
</section>