* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.cf {
  &:before,&:after {
    content: " "; 
    display: table; 
  }
  &:after {
    clear: both;
  }
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */

section {
  @extend .cf !optional;
  padding:2em;
    
}

.wrap {
  max-width: 1100px;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}



/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}
.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about {
  background-image:url('/resources/img/about-bg.jpg');
  padding:0;
  position: relative;
  &:before,&:after {
    position: absolute;
    left:50%;
    margin-left:-25px;
  }
  &:before {
    content: url('/resources/img/scroll-top.png');
    top:-25px;
  }
  &:after {
    content: url('/resources/img/scroll-bottom.png');
    bottom: -35px;
  }
  .mouse {
    position: absolute;
    top: 0;
    width: 60%;
    left: 28%;
  }
  .content {
    padding:15em 3em;
  }
}

.logo {
  position: absolute;
  top:0;
  z-index: 1000;
  left: 5%;
  width:125px;
}

.hero {
  padding:0;
  div[class*="col"]{
    padding:20em 5em;
  }
  .pen {
    text-align: center;
    position: absolute;
    width:150px;
    left:50%;
    margin-left:-75px;
  }
  .black {
    .pen {
      top:0;
    }
  }
  .white {
    .pen {
      bottom:0;
    }
  }
}

.black {
  background-color:black;
  h1,h2,h3,p,li,a {
    color:white;
  }
}

.footer {
  padding: 4em 2em;
  p {
    line-height: 3;
    margin-bottom: 0;
    @include viewport(sm){
      margin-bottom: 2em;
    }
  }
  a {
    font-weight: 800;
  }
  a.button {
    font-weight: normal;
    margin: 0;
  }
}

.deadlines{
  background-image: url(/resources/img/info-bg.jpg);
  padding:8em 2em;
}

.win {
  h1{
    text-align: center;
  }
  padding:9em 2em 4em;
  div[class*="col-"]{
    margin-bottom: 4rem;
  }
  @include viewport(sm){
    margin-bottom: 0;
  }
}

.sponsors {
  padding:4em 2em;
  ul {
    li {
      float:left;
      @include rowGrid(2, 5%);
      text-align: center;
      display: table;
      table-layout:fixed;
      @include viewport(sm){
        float:left;
      @include rowGrid(3, 2%);
      }
      @include viewport(md){
        float:left;
      @include rowGrid(4, 3%);
      }
      a {
        height:200px;
        display: table-cell;
        vertical-align:middle;
        width:100%;
        &:hover {
          @include opacity(.8);
        }
        img {
          max-width:100%;
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);
        }
      }
      
    }
  }
}


/* Responsive Video Embeds */
.video-container {
    position: relative;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    iframe {
       position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}