body,html {
  font-size: 62%;
  color: $primary;
  line-height: 1.5;
  font-family: $body;
  @include viewport(sm){
    font-size: 100%;
  }
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
}
h1,h2,h4 {
  text-transform: uppercase;
}
h1 {
  margin: 0 0 10px 0;

  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1;

  color: $primary;
}

h2 {
 font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: 100;
}


.button {
  text-decoration: none;
  color:black;
  border:solid 1px black;
  border-radius:90px;
  padding:1em 2em;
  display: block;
  margin:2em 0;
  text-transform: uppercase;
  text-align: center;
  &:hover{
    i {
      transform:translate(5px,0);
    }
  }
  i {
    @include transition(.3s all);
    float: right;
    line-height: 1.6;
  }
}

.footer {
  background-image:url(/resources/img/footer-bg.jpg);
}

.black {
  .button {
    border-color:white;
    color:white;
  }
}

/* PARAGRAPH */

p {
  margin-bottom: 1em;
  color:$primary;
  font-size: 1.25rem;
}

a {
  color:$link;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

.button {
  
}